<table style="width:100%">
  <tr>
    <th>Name/th>
    <th>Email</th>
    <th>DateofJoining</th>
    <th>Dateofbirth</th>
  </tr>
  <tr>
    <td>Employee1</td>
    <td>Emp1@gmail.com</td>
    <td>23/04/1998</td>
    <td>23/04/1990</td>
  </tr>
  <tr>
    <td>Employee2</td>
    <td>Emp2@gmail.com</td>
    <td>22/04/1998</td>
    <td>22/04/1990</td>

  </tr>
  <tr>
    <td>Employee4</td>
    <td>Emp4@gmail.com</td>
    <td>22/04/1998</td>
    <td>22/04/1990</td>

  </tr>
  <tr>
    <td>Employee3</td>
    <td>Emp3@gmail.com</td>
    <td>24/04/1998</td>
    <td>23/04/1990</td>

  </tr>
  <tr>
    <td>Employee5</td>
    <td>Emp5@gmail.com</td>
    <td>23/04/1998</td>
    <td>23/04/1990</td>

  </tr>
</table>
